<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SatIp.RtspSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SatIp_Rtsp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SatIp.RtspSample.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>5000</value>
            </setting>
        </SatIp.RtspSample.Properties.Settings>
        <SatIp_Rtsp.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>Off</value>
            </setting>
        </SatIp_Rtsp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
